@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
}
p {
  font-family: 'Candyhome', sans-serif;
}


.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/btn.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/input.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/btn.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/hf.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/i.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/hf.cur'),auto;
}