
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/btn.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/input.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/btn.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/hf.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/i.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://unpkg.zhimg.com/akilar-candyassets/cur/hf.cur'),auto;
}



/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }




/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  background:rgba(255, 255, 255, 0.9);
}
/* 首页侧栏卡片 */
.card-widget{
background:rgba(255, 255, 255, 0.9)!important;
}
/* 文章页面正文背景 */
div#post{
background: rgba(255, 255, 255, 0.9);
}
/* 分页页面 */
div#page{
background: rgba(255, 255, 255, 0.9);
}
/* 归档页面 */
div#archive{
background: rgba(255, 255, 255, 0.9);
}
/* 标签页面 */
div#tag{
background: rgba(255, 255, 255, 0.9);
}
/* 分类页面 */
div#category{
background: rgba(255, 255, 255, 0.9);
}



[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  #recent-posts > .recent-post-item{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#page{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#archive{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#tags{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#tag{
    background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#category{
    background: rgba(0, 0, 0, 0.5)!important;
    }



.read-mode #aside-content .card-widget{
      background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#category{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#tags{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#tag{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#archive{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#page{
    background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode #recent-posts > .recent-post-item{
    background: rgba(158, 204, 171, 0.5)!important;
    }



[data-theme="dark"]
  .read-mode #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode #recent-posts > .recent-post-item{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#page{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#tags{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#tag{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#archive{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#category{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }

@font-face {
    font-family: 'tzy';
    /* 字体名自定义即可 */
    src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: tzy !important;
}

